PORT=4000
NODE_ENV=development

# PostgreSQL
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=healthcare_fabric

# Auth
JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=1d
